body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.form-estado {
    display: inline-flex;
    align-items: center;
 
}

.form-estado select {
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    outline: 0;
}

.form-estado button {
    margin-left: 5px;
    background: gray;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
}